.container-fluid-custom {
    padding-left: 30px;
    padding-right: 30px;
}
.form-label {
    font-weight: bold;
    margin-bottom: 5px; /* Giúp cách biệt với các phần tử khác */
}
#distance-km #distance-miles #price-min #price-max {
    width: 50%;
}